// colors - - - - - - - - - - - - - - - - 
$ws-primary-blue: #2E247D;

$ws-black: rgb(0,0,0);
$ws-white: rgb(255,255,255);

// breakpoints - - - - - - - - - - - - - - - -
$xxs: 400px;
$xs:  480px;
$sm:  670px;
$md:  768px;
$lg:  992px;
$xl:  1200px;
$xxl: 1400px;
$xxxl: 1600px;