// colors - - - - - - - - - - - - - - - - 
$darkblue: rgb(37,81,135);
$purple: rgb(122,88,163);
$lightblue: rgb(87,139,201);
$red: rgb(197,62,59);
$green: rgb(166,199,97);
$orange: rgb(250,140,43);

$black: rgb(0,0,0);
$white: rgb(255,255,255);

// breakpoints - - - - - - - - - - - - - - - -
$xxs: 400px;
$xs:  480px;
$sm:  670px;
$md:  768px;
$lg:  992px;
$xl:  1200px;
$xxl: 1400px;
$xxxl: 1600px;