// **IMPORTANT** - Unused utility classes need tree shaking so they are no included in any build files.


[class*=u-show-],
[class*=u-flex-],
[class*=u-iblock-] {display: none;}

@mixin responsive-classes($mq) {
    
    // display
    .hidden#{$mq} {display: none;}
    .inline-block#{$mq} {display: block;}
    .block#{$mq} {display: block;}
    .flex#{$mq} {display: flex;}

    // width (px)
    .width-55#{$mq} {width: 55px;}
    .width-70#{$mq} {width: 70px;}
    .width-100#{$mq} {width: 100px;}
    .width-110#{$mq} {width: 110px;}
    .width-120#{$mq} {width: 120px;}
    .width-160#{$mq} {width: 160px;}

    // width (%)
    .width-100\%#{$mq} {width: 100%;}

    // margin
    .ml-5px#{$mq} {margin-left: 5px;}
    .ml-8px#{$mq} {margin-left: 8px;}
    .ml-10px#{$mq} {margin-left: 10px;}
    .mb-5px#{$mq} {margin-bottom: 5px;}
    .mb-10px#{$mq} {margin-bottom: 10px;}

    // text
    .bold#{$mq} {font-weight: bold;}
    .nowrap#{$mq} {white-space: nowrap;}
    .align-right#{$mq} {text-align: right;}
    .style-normal#{$mq} {font-style: normal;}

    // interactive
    .pointer-events-none#{$mq} {pointer-events: none;}
    .pointer-events-auto#{$mq} {pointer-events: auto;}

    // dynamic  
    .drawer-active {right: 0;}
}

@include responsive-classes(null);
@include over($xxs) { @include responsive-classes('-xxs'); };
@include over($xs) { @include responsive-classes('-xs'); };
@include over($sm) { @include responsive-classes('-sm'); };
@include over($md) { @include responsive-classes('-md'); };
@include over($lg) { @include responsive-classes('-lg'); };
@include over($xl) { @include responsive-classes('-xl'); };
@include over($xxl) { @include responsive-classes('-xxl'); };