.button {
    height: 30px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    white-space: nowrap;
    color: $ws-white;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &.green {
        background-color: $ws-tertiary-green;
        &:hover {
            background-color: darken($ws-tertiary-green, 10%);
        }
    }
    .svg {
        height: 12px;
        width: 12px;
        opacity: .85;
    }
}

.button-icon {
    width: 30px;
    padding: 0;
}

.button-group {
    display: flex;
    .button {
        outline: white solid 1px;
        border-radius: 0;
        &:first-child {
            border-radius: 3px 0 0 3px;
        }
        &:last-child {
            border-radius: 0 3px 3px 0;
        }
    }
}