.tooltip{
    display: none;
    border-radius: 3px;
    color: currentColor;
    padding: 10px; 
    position: fixed;
    margin-top: -270px;
    margin-left: 25px;
    background-color: $ws-white;
    z-index: 20;
    width: 200px;
    height: 237px;
    border: 1px solid currentColor;
    &:before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50px;
        background-color: inherit;
        border-bottom: inherit;
        border-right: inherit;
        display: inline-block;
        height: 8px;
        position: absolute;
        transform: rotate(45deg);
        width: 8px;
    }
    .facility {
        font-size: 12px;
        margin-bottom: 1px;
    }
    .date-session {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid currentColor;
        margin-bottom: 7px;
        padding-bottom: 5px;
    }
    .scroll-box {
        display: flex;
        flex-direction: column;
        height: 175px;
        overflow-y: auto;
    }
    .room-time-blocks {
        display: flex;
        flex-direction: column;
    }
    .room-time-block {
        display: flex;
        background-color: lighten($ws-secondary-blue, 45%);
        border-radius: 3px;
        font-size: 10px;
        justify-content: space-between;
        padding: 4px 7px 4px;
        margin-bottom: 5px;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        &:hover {
            background-color: lighten($ws-secondary-blue, 35%);
        }
        .time {flex: 0 0 40px;}
        .room {flex: 1 1 auto;}
        .duration {flex: 0 0 30px;text-align: right;}
    }
}